name: Script Actions

on:
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Switch to the development branch
        uses: actions/checkout@v2
        with:
          ref: develop

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install Markdown

      - name: Run scripts
        run: |
          python ./src/sample.py